body {

  padding-bottom: 20px;
  background-color: #eeee;
  font-family:Montserrat Medium;
}
.navbar {
 display:flex;
  margin-bottom: 20px;
  background-color: #D63f27;
}

.container{
	
	background-color: #ffff;
	
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
 
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;

  /*background-color: DodgerBlue;*/
}

.flex-container > div {
  /*background-color: #f1f1f1;*/
 justify-content: space-between;
 margin: 10px;
  }
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.redwolf, .custname{
	display:none;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
flex-direction: column;  
  /*background-color: DodgerBlue;*/
}

.order{
margin-left:none !important;
}
.buttons{
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
.flex-container {
  display: flex;
  flex-direction:column;
  
}
}
 /*Drop-down starts*/







/* Smartphones (landscape) ----------- */
@media only /*screenlaptop*/
and (min-width : 321px) {
/*.redwolf, .custname{*/
	/*display:none;*/



}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
.redwolf, .custname{
	display:none;
}
.flex-container {
  display: flex;
  flex-direction:column;
  
}
.order{
margin-left:none !important;
}
.buttons{
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.redwolf, .custname{
	display:none;
}
.order{
margin-left:none !important;
}
.flex-container {
  display: flex;
  flex-direction:column;
  
}
}

 @media only screen and (device-width: 768px) {
  /* For general iPad layouts */
.redwolf, .custname{
	display:none;
}
.order{
margin-left:none !important;
}
.buttons{
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
.flex-container {
  display: flex;
  flex-direction:column;
  
}
}