body {

  padding-bottom: 20px;
  background-color: #eeee;
  font-family:Montserrat Medium;
}
.container{
	
	background-color: #ffff;
	
}
.div1{
	padding:10px;
}
.navbar {
 display:flex;
  margin-bottom: 20px;
  background-color: #D63f27;
}
.tab {
  display:flex;
  overflow: hidden;
  border: none;
  background-color: #fff;
  width:100%;
  
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: default;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  text-decoration: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
   padding:30px;
 width:100%;
  border-top: none;

}
.tabcontent h3{
	font-size:20px;
}
.div1{
	display:flex;
	justify-content: space-between;
}
.Torder{
	background-color: #fef0d0;
	padding:10px;
	height: 140px;
	margin-top: 20px;
	border-radius: 10px;
	width:294px;
text-align:  center;
}
.torder{
	font-size:55px;
}
.tot{
	color:#757575;
	font-size: 16px;
}
.box {
	border-top:3px solid #ececec;
	margin-top:10px;
	display: flex;
	justify-content: space-between;
	font-family: Montserrat Medium;
	font-size:16px;
	display:flex;
  }
  .one{
	border-right:3px solid #ececec ;
	padding:40px;

	
}
.pend{
	font-size: 16px;
}
.two{
	
		border-right:3px solid #ececec ;
		padding:40px;	
}
.number{
	font-size:45px;
	color:#fab616;
}
.three{
	border-right:3px solid #ececec ;
	padding:40px;
	
}	
.four{
	border-right:3px solid #ececec ;
	padding:40px;
	
}
.five{
	
	padding:40px;
}
 .input{
	  display:flex;
	  justify-content: space-between;
	  padding:40px;
	  background-color: #DDDD;

  }
  [type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */

.label1 {
  display: block;
}
.input1 {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.input2
 {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.btn-apply{
	border:none;
	border-radius: 10px;
	background-color: #fab616;
}
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.input1{
margin-right: 15px;	
}
.input{
	display: flex;
	flex-direction: column;
}
.pend{
	font-size:26px;
}
.one, .two, .three, .four,.five{
	border:none ;
	
}
.box{
	display: flex;
	flex-direction: column;
}
.redwolf, .custname{
	display:none;
}
.container1{
	display:flex;
	padding:20px;
	width:100%;
	background-color: #fff;
	height:100vh;
}
.tabcontent {
  display: flex;
flex-direction: row;
justify-content: space-between;

}
.div1{
	display:content;
	flex-direction: column;
}
.Torder{
	width:auto;
}
}
 /*Drop-down starts*/
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
/*   border: 1px solid gray; */
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
/*   background-color: #ffffff; */
  cursor: pointer;
  white-space: nowrap;
  margin-top: 20px;
}

.dd-button:after {
  margin-top: 20px;
  content: '';
  /*position: absolute;*/
  position: static
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  list-style: none;
}

.dd-button:hover {
  background-color:white;
}


.dd-input {
  display: none;
}

.dd-menu {
  /*position: absolute;	*/
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  /*margin: 2px 0 0 0;*/
  /*box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);*/
  background-color: #ffffff;
  list-style-type: none;
  z-index: 3;
  /*height: 90px;*/
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}	/*Drop-down ends*/



/* Smartphones (landscape) ----------- */
@media only /*screenlaptop*/
and (min-width : 321px) {
/*.redwolf, .custname{*/
	/*display:none;*/

.container1{
	display:flex;
	
}
.div1{
	display:content;
	/*flex-direction: column;*/
}	
/* Styles */
.tabcontent {
  display: flex;
flex-direction: row;
justify-content: space-between;
}

}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
.input{
	display: flex;
	flex-direction: column;
}
.pend{
	font-size:26px;
}
.one, .two, .three, .four,.five{
	border: none ;
	

}
.box{
	display: flex;
	flex-direction: column;
}
.container1{
	display:flex;
	padding:20px;
	width:100%;
	background-color: #fff;
	height:100vh;
}
.tabcontent {
  display: flex;
flex-direction: row;
justify-content: space-between;

}
.div1{
	display: flex;
	flex-direction: column;
}
.Torder{
	width:auto;

}
 .Torder1{
 	font-size:55px;

 }

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.input{
	display: flex;
	/*flex-direction: column;*/
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;   
    flex-wrap: wrap;
    margin:0px;
    padding:0px;
}
.pend{
	font-size:26px;
}

.one, .two, .three, .four,.five{
	border:none;
	

}
.box{
	display: flex;
	flex-direction: column;
}
.tabcontent {
  display: flex;
flex-direction: row;
justify-content: space-between;
}
.container1{
	display:flex;
	padding:20px;
	width:100%;
	background-color: #fff;
	height:100vh;
}
.div1{
	display:content;
	flex-direction: column;
}
.Torder{
	width:auto;
}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
 
 	.input{
display:flex;
flex-wrap:wrap;
margin: 0px;
padding:0px;
 	}
 }
 @media only screen and (device-width: 768px) {
  /* For general iPad layouts */
.input{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
}
