
.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}
nav{
	background-color:#D63f27
}
.custname{
float:right;
font-family:Montserrat Medium;
color:#ffff;
font-size:20px;
}
.icon{
	height:30px;
	width:30px;
}
.jumbo{
	height: 120%;
	width: 100%;
	font-family:Montserrat Medium;
	padding-top: 45px;
}
.order{
margin-left: 40px;
padding:40px;
color:grey;
font-family: Montserrat Medium;

}
.cont{
	padding:40px;
	background-color:#ffff;
	height:75%;
	width:100%;
}
.inner-div{
	background-color: #fef0d0;
	margin-top: 20px;
	padding:20px;
	color:#3e4754;
	font-size: 16px;
	width: 40%;
	height:25%;
	border-radius: 10px;
	/*width:100%;
	height:170px;
/**/	

}
.value{
	padding-left: 37%;
	font-size: 55px;
	color:#000000;	
}

.edit{
font-family: Montserrat Medium;
font-size: 25px;
color:#000000;
/*padding-bottom:40px;	*/
}
.edit1{
font-family: Montserrat Medium;
font-size: 20px;
/*margin-top:60px;*/
color:#000000;	
}

.table{
	width:100%;
	margin-top:20px;
}

table{
	border:0px;
}
table td{
	color:grey;
	font-size: 14px;
	border:none;
}
label{
	color:grey;
}

div button{
	margin-right:30px;
}
.buttons{
	padding-left: 280px;
}
.align{
float:right;	
}

.small-order{
	padding:60px;
}
.profile{
	float:right;
	height:65px;
	width:120px;
	border: 2px solid black;
	margin-right: 60px;
}
.div-1{

	background-color:#fef0d0;
	height:140px;
	margin-top:20px;
	border-radius:10px;
	font-family: Montserrat Medium;
	
}
.div-2{
height:140px;
margin-left:260px;
background-color:#fef0d0;
border-radius:10px;
margin-top:20px;
font-family: Montserrat Medium;

}
.small-text{
font-size:16px;
text-align: center;
color:#757575;
}
.small-text1{
text-align: center;
color:#757575;	
	font-size:16px;
}
.big-text{
font-size:55px;
text-align: center;

}
.big-text1{
	text-align: center;

	font-size:55px;
}
.box {
	border-top:3px solid #ececec;
	margin-top:10px;
	display: flex;
	justify-content: space-between;
	font-family: Montserrat Medium;
	font-size:16px;
  }
  .input{
	  display:flex;
	  justify-content: space-between;

  }
.one{
	border-right:3px solid #ececec ;
	padding:40px;

	
}
.btn-apply{
	background-color:#fab616;
	border-radius: 8px;
	padding:2px;
	width:150px;
	margin-left:4px;
}
.pend{
	font-size: 16px;
}
.two{
	
		border-right:3px solid #ececec ;
		padding:40px;	
}	
.number{
	font-size:45px;
	color:#fab616;
}
.three{
	border-right:3px solid #ececec ;
	padding:40px;
	
}	
.four{
	border-right:3px solid #ececec ;
	padding:40px;
	
}
.five{
	
	padding:40px;

}
/*Mobile responsive website*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
     { 
/*.small-order{
	margin-left: 20px;*/
	.one{
		border-right:3px solid #ececec ;
		padding:20px;
	
		
	}
	.table{
		font-size:12px;
		width:100%;
	}
	.jumbo{
		height: 47%;
	}
	.two{
	
		border-right:3px solid #ececec ;
		padding:20px;	
}	
.number{
	font-size:25px;
	color:#fab616;
}
.three{
	border-right:3px solid #ececec ;
	padding:20px;
	
}	
.four{
	border-right:3px solid #ececec ;
	padding:20px;
	
}
.five{
	padding:20px;

}
	.small-order{
	padding:130px;
}
.profile{
	padding-right:120px;
	padding-bottom: 30px;
}
.div-2{
	margin-left:180px;
}
.number{
	font-size:25px;
	color:#fab616;
}
    }
@media (max-width: 812px) {
.cancel-form{
margin-top: 10%;

}


.div-2{
	margin-left:180px;
}
.small-order{
	margin-left: 50px;
}

.Est-time{
	font-size: 13.5px;
}
.buttons{
	padding-left:  100px;
}
.inner-div{
	height:5%;
}
}
@media (max-width: 320px){
	.div-2{
		margin-left:180px;
	}
	.small-order{
	padding:130px;
}

.cancel-form{
margin-top: 10%;
}
.Est-time{
	font-size: 10px;
}
.buttons{
	padding-left:  100px;
}
.inner-div{
	height:5%;
}
}
@media (max-width: 360px) {
.small-order{
	padding:130px;
}
.div-2{
	margin-left:180px;
}
.cancel-form{
	margin-top: 10%;
}
.Est-time{
	font-size: 13.5px;
}
.buttons{
	padding-left:100px;
}
.inner-div{
	height:5%;
}

}
@media (max-width: 1024px) {
.small-order{
	padding:130px;
}

.inner-div{
height:10%;
}
.div-2{
	margin-left:180px;
}
}	