<!--Navbar-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <!-- Hello this is used for date & Time format -->
   <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" href="index.css">

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<body>



<nav class="navbar navbar-light light-blue lighten-4" >

  <!-- Navbar brand -->

<div class="col-lg-12 col-md-12 col-sm-12 ">
  

  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example pull-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><img src="toplogo.jpg"></button>
<b><span class="custname" >REDWOLF&nbsp;&nbsp;<img class="icon" src="001.png"></span></b>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <!-- Links -->
</div>


</nav>
 
  <!-- Collapsible content -->


</div>

<!-- <span class="profile">Profile</span> -->
<div class="jumbo jumbotron jumbotron-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 16px">
      <small class="small-order" >Order Dashboard </small>


      <div class="container .container-fluid cont">
        <b><span class="edit" >ORDER | INVENTORY</span></b>
        <br>
        <br>
        <br>
        <b><span class="edit1" >Order Dashboard</span></b>
        
                  <div class="container">

                    
                    <div class="row">
                      <div class="col-sm-2 col-md-4 col-lg-4 div-1" >
                        <p class="small-text">Total orders</p>
                        <p class="big-text">250</p>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 div-2" >
                        <p class="small-text1">Total Orders</p>
                        <p class="big-text1">250</p>
                      </div>
                    </div>
                    <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 ">
                    <div class="box col-md-12">
                      <div class="one">
                        <p class="pend">Pending</p>
                      <p class="number">02</p>
                      </div>
                      <div class="two">
                          <p class="pend">Accepted</p>
                          <p class="number">02</p>
                      </div>
                      <div class="three">
                          <p class="pend">Dispatched</p>
                          <p class="number">02</p>
                      </div>
                      <div class="four">
                          <p class="pend">Delivered</p>
                          <p class="number">02</p>
                      </div>
                      <div class="five">
                          <p class="pend">Cancelled</p>
                          <p class="number">01</p>
                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
  <div class="jumbotron" style="background-color: #eaeaea">
            
         <div class="row">
          <div class="col-md-12">
          <div class="input ">                    
                    <input id="datepicker" width="376" placeholder="From Date"/>
                    <input id="datepicker1" width="376" placeholder="From Date"/>  
                    
                    <label for="inputCity"><small>Order Status</small></label>
                        <select class=" form-group col-md-4"   width="100" id="exampleFormControlSelect1">
                          <option>All</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      <input class="btn-apply" type="submit" value="apply" > 
                      </div>
                    </div> 
                  </div>
                  </div>  
        
      
                
        
          <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead >
                      <tr>
                        <th >Order date</th>
                        <th scope="col">Order Id</th>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Color</th>
                        <th scope="col">Size</th>
                        <th scope="col">QTY</th>
                        <th scope="col">Delivery address</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Due Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        
                      </tr>
                      
                      
                    </tbody>
                  </table>
            </div>
          </div>
         
          <!-- <div class="table-responsive table-boderless">
          <span><small>Order </small></span><br>
          <b><span style="font-size:18px">0512876456</span></b> 
          <hr>
          <table class="tab">
            
            

            <tr>
              <th  style="width:25%">
              Product Name:
              </th>
              <th style="width:15%">
              Product code:
              </th>
                <th style="width:10%"> 
              Qty
              </th>
             <th style="width:10%">
               color
             </th>  
             <th style="width:10%">
               Size
             </th> 
             <th style="width:10%">
               MRP
             </th>
             <th style="width:10%">
               Selling Price
             </th>        
            </tr>
            <tr>
              <td style="width:25%">
              Power slice
            </td>
            <td style="width:15%">
              0974352
            </td>
            <td style="width:10%">
              20
            </td>
            <td style="width:10%">
              Black
            </td>
            <td style="width:10%">
              NA
            </td>
            <td style="width:10%">
              2500
            </td>
            <td style="width:10%">
              1950
            </td>
            </tr>
          
        </table>
 -->        
      
      
      
      </div>
 
      
<br>
<br>

</div>
</div>
</div>

</div>
 </div>

<script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    <script>
     $('#datepicker1').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
      </body>