<!--Navbar-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <!-- Hello this is used for date & Time format -->
   <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" href="index.css">


<body>
<div class="col-lg-12 col-md-12 col-sm-12 ">



<nav class="navbar navbar-light light-blue lighten-4" >
  <!-- Navbar brand -->
  

  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example pull-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><img src="toplogo.jpg"></button>
<b><span class="custname" >REDWOLF&nbsp;&nbsp;<img class="icon" src="001.png"></span></b>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <!-- Links -->
</div>
 
  <!-- Collapsible content -->
</nav>

</div>

<div class="jumbo jumbotron jumbotron-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 16px">
      <small class="order" style="">Order Dashboard > Edit Order</small>
      <div class="container .container-fluid cont">
        <b><span class="edit">Edit Order</span></b>
        
        <div class="inner-div">

         
          <div class="table-responsive table-boderless">
          <span><small>Order Id</small></span><br>
          <b><span style="font-size:18px;text-underline-position: bottom">0512876456</span></b> 
          <hr>
          <table class="tab">
            
            

            <tr>
              <th  style="width:25%">
              Product Name:
              </th>
              <th style="width:15%">
              Product code:
              </th>
                <th style="width:10%"> 
              Qty
              </th>
             <th style="width:10%">
               color
             </th>  
             <th style="width:10%">
               Size
             </th> 
             <th style="width:10%">
               MRP
             </th>
             <th style="width:10%">
               Selling Price
             </th>        
            </tr>
            <tr>
              <td style="width:25%">
              Power slice
            </td>
            <td style="width:15%">
              0974352
            </td>
            <td style="width:10%">
              20
            </td>
            <td style="width:10%">
              Black
            </td>
            <td style="width:10%">
              NA
            </td>
            <td style="width:10%">
              2500
            </td>
            <td style="width:10%">
              1950
            </td>
            </tr>
          
        </table>
        
      
      
      
      </div>
 
<br>
<br>
<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="validationDefault01">order Status</label>
    <select class="custom-select" required>
      <option value="">Delivered</option>
      <option value="1">Dispatched</option>
      
    </select>

    <div class="invalid-feedback">Example invalid custom select feedback</div>
  </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault01">Tracking URL<b style="color:red">*</b></label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="First name"  required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault02" >Tracking No<b style="color:red">*</b></label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Tracking no."  required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefaultUsername" class="Est-time">Estimated Delivery Date<b style="color:red">*</b></label>
      <input id="datepicker"/>
  </div>
</div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationDefault04" >Order Cancel Reason</label>
      <select class="custom-select" placeholder="Search and select" required>
      <option value="">Delivered</option>
      <option value="1">Not Delivered</option>
      
    </select>
    </div>
    <div class="col-md-5 mb-5">
      <label for="validationDefault04" style="color:white">Order Cancel Reason</label>
      <input type="text" class="form-control cancel-form" id="validationDefault04" placeholder="Reason For Order Cancellation"  required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault05" >Enter Courier Service Provider<b style="color:red">*</b></label>
      <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
    </div>
  </div>
  <div class="col-md-12 mb-12 buttons">
  <!-- <button class="btn-disable" disabled="true" style="margin-left: 100px;">clear all</button> -->
  
  <a href="" class="btn-save"><input type="button" value="clear all" style="border:none;width:120px;padding:6px;border-radius: 4px;"></a>
<a href="" class="btn-save" style="margin-left: 10px"><img src="save.jpg"></a>


</div>
</form>
<br>
<br>
 <hr>
 <span class="align" style="padding-left: 450px;">
 Mandatory field<b style="color:red">*</b>
 </span>  
</div>
</div>
</div>

</div>
 </div>

<script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
      </body>