
.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}
nav{
	background-color:#D63f27
}
.custname{
float:right;
font-family:Montserrat;
color:#ffff;
font-size:20px;
}
.icon{
	height:30px;
	width:30px;
}
.jumbo{
	height: 130%;
	width: 100%;
	font-family:Montserrat;
}
.order{
margin border-left: 40px;
padding:40px;
color:grey;
font-family: Montserrat;
font-size: 
}
.cont{
	padding:40px;
	background-color:#ffff;
	height:105%;
	width:100%;
}
.inner-div{
	background-color: #fef0d0;
	margin-top: 20px;
	padding:20px;
	color:#3e4754;
	font-size: 18px;
	width:100%;
	height:170px;
	border:1px solid #D63f27;
}
.edit{
	
}
.table{
	width:100%;
}
table{
	border:0px;
}
table td{
	color:grey;
	font-size: 14px;
	border:none;
}
label{
	color:grey;
}

div button{
	margin-right:30px;
}
.buttons{
	padding-left: 280px;
}
.align{
float:right;	
}

/*Mobile responsive website*/
@media (max-width: 992px) {
.cancel-form{
margin-top: 10%;

}
.Est-time{
	font-size: 13.5px;
}
.buttons{
	padding-left:  100px;
}
}
@media (max-width: 320px)){
.cancel-form{
margin-top: 10%;
}
.Est-time{
	font-size: 10px;
}
.buttons{
	padding-left: : 100px;
}
}
@media (max-width: 360px) {
.cancel-form{
	margin-top: 10%;
}
.Est-time{
	font-size: 13.5px;
}
.buttons{
	padding-left: : 100px;
}


}
