body {

  padding-bottom: 20px;
  background-color: #eeee;
  font-family:Montserrat Medium;
}

nav{
	background-color:#D63f27
}
.custname{
float:right;
font-family:Montserrat;
color:#ffff;
font-size:20px;
}
.icon{
	height:30px;
	width:30px;
}
.jumbo{
	height: 130%;
	width: 100%;
	font-family:Montserrat;
}
.order{
margin border-left: 40px;
padding:40px;
color:grey;
font-family: Montserrat;
font-size: 
}
.cont{
	padding:40px;
	background-color:#ffff;
	height:105%;
	width:100%;
}
.conta{
	background-color: #fef0d0 !important;
	margin-top: 20px;
	padding:20px;
	color:#3e4754;
	font-size: 18px;
	width:100%;
	/*height:170px;*/
	border:1px solid #D63f27;
}

.edit{
	
}
.table{
	width:100%;
}
table{
	width:100%;
	justify-content: space-between;
}
table td{
	
	color:grey;
	font-size: 14px;
	border:none;

}
table th{
	padding-right:  100px;
}
label{
	color:grey;
}

div button{
	margin-right:30px;
}
.input1 {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.input2
 {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.align{
float:right;	
}
.button-area {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
  
}

 [type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
table{
	display:flex;
}
/*Mobile responsive website*/
@media (max-width: 992px) {
.cancel-form{
margin-top: 10%;

}

.Est-time{
	font-size: 13.5px;
}
.buttons{
	margin-left: 0px;
	display: flex;
	flex-direction: column;
	
}
table{
	display:flex;
flex-direction: column;
}
}
@media (max-width: 320px)){
.cancel-form{
margin-top: 10%;
}
table{
	display:flex;
flex-direction: column;
}
.Est-time{
	font-size: 10px;
}
.buttons{
	display: flex;
	flex-direction: column;
margin-left: 0px;
}
}
@media (max-width: 360px) {
.cancel-form{
	margin-top: 10%;
}
.Est-time{
	font-size: 13.5px;
}
.buttons{
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
table{
	display:flex;
flex-direction: column;
}
}




.container{
	
	background-color: #ffff;
	
}
.div1{
	padding:10px;
}
.navbar {
 display:flex;
  margin-bottom: 20px;
  background-color: #D63f27;
}
.inline { 
    display: inline; 
    border: 1px solid red; 
    margin:10px;
    }

/* Style the buttons inside the tab */


/* Style the tab content */


/* custom styles */


/*Mobile version*/
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.redwolf, .custname{
	display:none;
}
.order{
margin-left:none !important;
}
.buttons{
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
table{
	display:flex;
flex-direction: column;
}
}
 /*Drop-down starts*/







/* Smartphones (landscape) ----------- */
@media only /*screenlaptop*/
and (min-width : 321px) {
/*.redwolf, .custname{*/
	/*display:none;*/



}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
.redwolf, .custname{
	display:none;
}
.order{
margin-left:none !important;
}
.buttons{
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
table{
	display:flex;
flex-direction: column;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.redwolf, .custname{
	display:none;
}
.order{
margin-left:none !important;
}
table{
	display:flex;
flex-direction: column;
}
}

 @media only screen and (device-width: 768px) {
  /* For general iPad layouts */
.redwolf, .custname{
	display:none;
}
.order{
margin-left:none !important;
}
.buttons{
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
table{
	display:flex;
flex-direction: column;
}
}